/* --- Partie javascript du projet morpion --- */
  

body{
    margin: 0 auto;
}

#the-game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

h1{
    text-align: center;
}

button{
    background-color: green;
    width: 50%;
}

#board{
    display: flex;
    justify-content: center;
    position: relative;
    width: 610px;

}

#cache{
    position:absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 0,0,0.2);
}

#tiles{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;

}

.tile{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}



